body, h1, p {
    margin: 0;
}

p, a {
    font-size: 20px;
}

/* Header */
h1 {
    color: rgb(255, 255, 255);
    background-color: rgb(244, 79, 79);
    text-align: center;
    margin-bottom: 20px;
}

/* Main */
#main {
    padding: 10px;
}

#parent {
    display: flex;
    justify-content: center; /* 中央揃え */
    align-items: center; /* 高さ方向の中央揃え */
    gap: 20px; /* 要素間の余白を統一 */
  }
  
  .contents {
    flex-basis: 25%; /* 親要素の25%の幅 */
    border: 3px solid rgb(238, 204, 204); /* 太さ3px、実線、指定色 */
    padding: 10px 15px; /* 内側の余白（上下10px、左右15px） */
    margin: 20px 0; /* 外側の余白（上下20px、左右0） */
    text-align: center; /* 中のテキストを中央揃え */
    display: flex;
    flex-direction: column;
    align-items: center; /* 内部要素を中央揃え */
  }

  h2 {
    font-size: 25px;
    border-bottom: 3px dotted rgb(236, 122, 122);
  }
  h2::before {
    content: "●";
    color: rgb(239, 111, 139);
  }

  .contents p:nth-of-type(2)::first-letter {
    font-weight: bold; /* 太字 */
    color: rgb(97, 206, 249); /* 文字色を指定 */
  }

  /* Footer */
  footer {
    background-color: rgb(244, 79, 79);
    text-align: center;
  }

  a {
    color: rgb(255, 255, 255);
  }
  a:visited {
    color: rgb(193, 234, 251);
  }
  a:hover {
    color: rgb(245, 178, 168);
  }

@media screen and (min-width: 768px) {

    h2 {
        font-size: 30px;
    }
    p {
        font-size: 25px;
    }
    #parent {
        display: flex;
        flex-direction: column;
    }
}

